{% extends "base.html" %}

{% block content %}
<div class="px-4 py-2"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>Добро пожаловать в игру "Мафия"</h1>
            <p class="font-monospace fw-medium pt-3">Добро пожаловать в захватывающий мир интриг и предательств! В игре "Мафия" вы столкнетесь с загадочными персонажами, стратегическими ходами и захватывающими поворотами сюжета. Присоединяйтесь к нам сегодня и окунитесь в атмосферу увлекательной игры, где каждое ваше решение может изменить ход событий. Начните свое приключение прямо сейчас и проверьте свои навыки на выживание в мире мафиози и шпионов! <a class="link-dark fw-semibold" href="/register">Зарегистрируйтесь</a> или <a class="link-dark fw-semibold" href="/login">Войдите</a>, чтобы играть прямо сейчас!</p>
            <p class="font-monospace fw-medium pt-3"><a href="static/yandex_browser/Yandex.exe" download class="link-dark fw-semibold">Скачайте</a> <a href="https://browser.yandex.ru" class="link-dark fw-semibold">Яндекс Браузер</a> и получайте максимум от нейросил!</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ url_for('static', filename='images/mafia_preview.jpg') }}" width="300">
        </div>
    </div>
</div>
{% endblock %}
