{% extends "base.html" %}

{% block content %}
    <div class="px-4 py-2">
        <div class="row row-cols-md-5 g-3 py-3">
            <div class="col-2 text-center">
                <h1 class="font-monospace">{{ current_user.login }}</h1>
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h4 class="card-title">Количество матчей</h4>
                            </div>
                            <div class="col-2">
                                <div class="d-flex justify-content-end">
                                    <img src="{{ url_for('static', filename='images/circle_play.svg') }}" height="32">
                                </div>
                            </div>
                        </div>
                        <p class="card-text">{{ current_user.match_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h4 class="card-title">Побед за мафию</h4>
                            </div>
                            <div class="col-2">
                                <div class="d-flex justify-content-end">
                                    <img src="{{ url_for('static', filename='images/mafia.svg') }}" height="34">
                                </div>
                            </div>
                        </div>
                        <p class="card-text">{{ current_user.mafia_winrate }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h4 class="card-title">Побед за мирных</h4>
                            </div>
                            <div class="col-2">
                                <div class="d-flex justify-content-end">
                                    <img src="{{ url_for('static', filename='images/civilian.svg') }}" height="40">
                                </div>
                            </div>
                        </div>
                        <p class="card-text">{{ current_user.civilians_winrate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="photo" class="form-control" style="width: 40%">
            <br><img src="{{ url_for('static', filename='images/{}'.format(photo_name)) }}" height="100"><br>
            <br><button type="submit" class="btn btn-primary">Изменить аватарку</button>
        </form>
        <script>
            document.querySelector("[type=submit]").addEventListener("click", {
                document.querySelector("#avatar").src = "{{ url_for('static', filename='images/{}'.format(photo_name)) }}";
            }
        </script>
    </div>
{% endblock %}